<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Strava Segment Hunter is a tool built to provide a platform for some competition surrounding Strava segments. Check in daily to see the segment we
  have selected for the day.">
  <meta name="author" content="Jamie Gregg">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
  <link rel="apple-touch-icon" sizes="57x57" href="img/fav-icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/fav-icon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/fav-icon//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/fav-icon//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/fav-icon//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/fav-icon//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/fav-icon//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/fav-icon//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/fav-icon//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/fav-icon//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/fav-icon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/fav-icon//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/fav-icon//favicon-16x16.png">
  <link rel="manifest" href="img/fav-icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>Strava Segment Hunter</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165412592-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-165412592-1');
  </script>

</head>

<body onload="openPage()" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Segment Hunter</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Segment</a>
           </li>
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#point-leaderboard">Leaderboards</a>
           </li>
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#help-section">Help</a>
           </li>
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="FAQ">FAQs</a>
           </li>
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login">Log in</a>
           </li>
         </ul>
      </div>
    </div>
  </nav>

  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Results Section -->
      <section class="page-section bg-primary text-white mb-0" id="today-leaderboard">
        <div class="container">

          <img class="masthead-avatar mb-5" src="img/portfolio/icon.png" alt="">
          <!-- Results Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-white" id="daily-leaderboard-heading">Register with Strava Segment Hunter.</h2>


        </div>
      </section>
    </div>
  </header>


  <!-- Sign Up Section -->

  <section class="page-section portfolio" id="sign-up">
    <div class="container">

      <!-- Sign Up Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sign Up To Strava Segment Hunter</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <p class="lead text-center">To join the site there is an annual subscription fee per club, with all members having
        access for free!<br><br>Use the form below to get started registering your club for £9.99 (or equivalent in your currency).</p>
      <br>
      <p class="lead"><a href="login"><u>Already registered? Log in here.</u></a></p>

      <form action="/registering" method="POST" id="register">
        <div class="form-row">
          <div class="col">
            <label class="lead " for="clubAlaias">Club Name</label>
            <input type="text" class="form-control" id="clubAlaias" name="clubName" placeholder="e.g. Dublin CC" required>
            <small class="form-text text-muted">This is what will appear on the leaderboard.</small>
            <br>
          </div>
          <div class="col">
            <label class="lead" for="clubId">Strava Club ID</label>
            <input type="text" class="form-control" id="clubId" name="clubId" placeholder="e.g. 675837" required>
            <small id="textHelp" class="form-text text-muted"><a href="#club-id-section">How do I find my Club ID?</a></small>
          </div>
        </div>
          <div class="form-group">
            <label class="lead" for="time-zone">Select your Timezone</label>
            <select id="time-zone" class="form-control" name="timezone">
              <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International
                Date Line West</option>
              <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island,
                Samoa</option>
              <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
              <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
              <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US
                & Canada)</option>
              <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja
                California</option>
              <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
              <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La
                Paz, Mazatlan</option>
              <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time
                (US & Canada)</option>
              <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America
              </option>
              <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time
                (US & Canada)</option>
              <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara,
                Mexico City, Monterrey</option>
              <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan
              </option>
              <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima,
                Quito, Rio Branco</option>
              <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time
                (US & Canada)</option>
              <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)
              </option>
              <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time
                (Canada)</option>
              <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz
              </option>
              <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
              <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago
              </option>
              <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland
              </option>
              <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia
              </option>
              <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires,
                Georgetown</option>
              <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland
              </option>
              <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo
              </option>
              <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic
              </option>
              <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.
              </option>
              <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
              <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca,
                Monrovia, Reykjavik</option>
              <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0" selected>(GMT+00:00) Greenwich Mean
                Time : Dublin, Edinburgh, Lisbon, London</option>
              <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam,
                Berlin, Bern, Rome, Stockholm, Vienna</option>
              <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade,
                Bratislava, Budapest, Ljubljana, Prague</option>
              <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels,
                Copenhagen, Madrid, Paris</option>
              <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo,
                Skopje, Warsaw, Zagreb</option>
              <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central
                Africa</option>
              <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
              <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens,
                Bucharest, Istanbul</option>
              <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
              <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
              <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria
              </option>
              <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv,
                Riga, Sofia, Tallinn, Vilnius</option>
              <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem
              </option>
              <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
              <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek
              </option>
              <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh,
                Baghdad</option>
              <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St.
                Petersburg, Volgograd</option>
              <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
              <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
              <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran
              </option>
              <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi,
                Muscat</option>
              <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
              <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
              <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
              <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg
              </option>
              <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad,
                Karachi, Tashkent</option>
              <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri
                Jayawardenapura</option>
              <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai,
                Kolkata, Mumbai, New Delhi</option>
              <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu
              </option>
              <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty,
                Novosibirsk</option>
              <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka
              </option>
              <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon
                (Rangoon)</option>
              <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi,
                Jakarta</option>
              <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk
              </option>
              <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing,
                Chongqing, Hong Kong, Urumqi</option>
              <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur,
                Singapore</option>
              <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan
                Bataar</option>
              <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
              <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
              <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo,
                Tokyo</option>
              <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
              <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
              <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide
              </option>
              <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin
              </option>
              <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane
              </option>
              <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra,
                Melbourne, Sydney</option>
              <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
              <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port
                Moresby</option>
              <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok
              </option>
              <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan,
                Solomon Is., New Caledonia</option>
              <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland,
                Wellington</option>
              <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji,
                Kamchatka, Marshall Is.</option>
              <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa
              </option>
            </select>
        </div>
        <div class="form-group">
          <label class="lead" for="emailAddress">Email Address</label>
          <input type="email" class="form-control" id="emailAddress" name="username" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label class="lead" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <small id="passwordInvalid" class="form-text text-danger"></small>
        </div>
        <div class="form-group">
          <label class="lead" for="password">Retype Password</label>
          <input type="password" class="form-control" id="passwordRetype" name="passwordRetyped" placeholder="Password" required>
          <small id="passwordNotSame" class="form-text text-danger"></small>
        </div>
        


        <button id="confirmClub" type="button" class="btn btn-lg btn-block btn-primary">Continue</button><br>
        <br><br><br>

        <div class="form-group">
          <div id="confirmation">
            <div class="card w-50 center-align">
              <img id="club-icon"class="card-img-top">
              <div class="card-body">
                <h5 class="card-title" id="clubName"></h5>
                <p class="card-text">Based on the Club Id you provided we have found this club on Strava. If this is the club you wish to register proceed to payment.</p>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Proceed to Payment</button><br>
                <div id='loader' style='display: none;'>
                  <img src='img/portfolio/ajax-loader.gif' width='32px' height='32px'>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </form>
    </div>
  </section>


  <!--Help Section -->
  <section class="page-section portfolio bg-primary text-white" id="club-id-section">
    <div class="container">

      <!-- Help Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Finding your Club Id?</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <p class="lead text-center">Strava Segment Hunter will generate leaderboards for your club based on the Strava Club ID. There is a video below showing the steps to obtain this ID. <br><a class="text-white"
          href="https://www.youtube.com/watch?v=-qTjWocDQLg&feature=youtu.be"><u>Video tutorial here.</u></a></p>
      <ol class="lead">
        <li>Go to Stravas website. (Not the app currenltly it has to be the webiste.)</li>
        <li>Click the Explore Tab and select Clubs.</li>
        <li>Search and select your club.</li>
        <li>Navigate to the members section of your club.</li>
        <li>In the website link you will see the club Id after www.strava.com/clubs/<strong>THIS_IS_YOUR_CLUB_ID</strong>/members.</li>
      </ol>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact Me</h4>
          <p class="lead mb-0 text-justify">To get your club added onto the leaderboard <a href="/signUp"> sign-up here.
            </a>To report
            any bugs or to suggest new features contact us at: <p class="text-uppercase font-weight-bold">
              contact@stravasegmenthunter.com </p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Developer Links</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.strava.com/athletes/8460844">
            <i class="fab fa-fw fa-strava"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/JamieGregg">
            <i class="fab fa-fw fa-github"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Segment Hunter</h4>
          <p class="lead mb-0 text-justify">Complete weekly segments to top the leaderboards in your club! Check back in
            every week for that weeks segment.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Strava Segment Hunter 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  <script src="js/form-validation.js"></script>
  <script src="js/register-ajax.js"></script>

</body>

</html>
